<!-- your app content -->
<div class="content-app fixed-header">
    <!-- app header -->
    <div class="app-header">
        <div class="pull-right">
            <button class="btn btn-flat btn-default" id="dashboard-range">
                <span class="icon ion-ios7-calendar-outline"></span>
                <span class="text-date"><%= @page.format_date %></span> 
                <b class="caret"></b>
            </button>
        </div>
        <h3 class="app-title pull-left hidden-xs"><%= @page.title %></h3>
    </div><!-- /app header -->

    <!-- app body -->
    <div class="app-body">
        <!-- app content here -->
        <div class="magic-layout">
            <div class="magic-layout">
                <div class="panel panel-default">
                    <div class="panel-body-heading">
                        <h3 class="pb-title">
                            Details Revenue
                        </h3><!-- /pb-title -->
                    </div><!-- /panel-body-heading -->
                    <div class="panel-body">
                        <%= raw @page.content %>
                    </div>
                </div>
            </div>
        </div><!-- /magic-layout -->        
    </div><!-- /app body -->
</div><!-- /content app -->