<aside class="side-left">
    <!-- side header -->
    <div class="side-header">
        <!-- place your brand (recomended: dont change the id value) -->
        <!-- (recomended: dont change the id value) -->
        <h1 id="brand" class="brand">
            <a href="/">
                <!-- <i class="icon ion-waterdrop"></i> -->
                <img src="/templetes/syrena/assets/app/img/brand.png" alt="六五阅读网">   <!-- 32px image logo -->
            </a>
        </h1><!-- /brand -->

        <!-- form search, remove class hide if you not place your brand -->
        <!-- (recomended: dont change the id value) -->
        <form id="smart-search" class="side-form hide" role="form">
            <input type="text" class="form-control" data-target=".side-wrapper" placeholder="快速查找">
        </form><!-- /side wrapper -->
    </div><!-- /side header -->

    <!-- side body -->
    <div class="side-body">
        <!-- this you can place your search result with ajax -->
        <div class="side-wrapper side-wrapper-large">
            <div class="side-wrapper-status lead">没有找到任何结果!</div>
            <div class="side-wrapper-result">
                <!-- search result -->
            </div><!-- /side-wrapper-result -->
        </div><!-- /side wrapper -->

        <!-- separate nav for ease development -->
        <nav class="side-nav">
            <!-- open nav ul -->
            <ul>
                <li class="side-nav-item active">
                    <a href="/">
                        <i class="nav-item-icon icon ion-ios7-paperplane-outline"></i>
                        随机
                    </a>
                </li><!-- /coverage -->
                <li class="side-nav-item">
                    <a href="#channels">
                        <i class="nav-item-caret"></i>
                        <i class="nav-item-icon icon ion-ios7-monitor-outline"></i>
                        频道
                    </a>
                    <ul id="channels" class="side-nav-child">
                        <li class="side-nav-item-heading">
                            <a href="#" class="side-nav-back">
                                <i class="nav-item-caret"></i>
                                频道
                            </a>
                        </li><!-- /header channels child -->
                        <%= get_menu('channel') %>
                        <li class="side-nav-item">
                            <a href="layout_blank.html">
                                <i class="nav-item-icon icon ion-laptop"></i>
                                Blank Page
                            </a>
                        </li><!-- /blank -->
                    </ul><!-- /channels child -->
                </li><!-- /channel -->
                <li class="side-nav-item">
                    <a href="/tags">
                        <span class="badge">3</span>
                        <i class="nav-item-icon icon ion-grid"></i>
                        标签
                    </a>
                </li><!-- /messages -->

                <li class="side-nav-item">
                    <%= link_to new_admin_forager_path do %>
                        <i class="nav-item-icon icon ion-ios7-compose-outline"></i>
                        提交
                    <% end %>
                </li><!-- /forms -->
            </ul><!-- /nav ul-->
        </nav>

    </div><!-- /side body -->
</aside><!-- /side left -->